nav .logo{
  width: 50px;
  height: 50px;
}

.pres_p{
  text-align: justify;
  text-indent: 10%;
}

.img-header-contact{
  object-position:0 -50px;
}


@media screen and (min-width: 800px){
  .img-header{
    height: 350px;
  };
};



